@media (max-width: 500px) {
    .title {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .d-flex {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .btn-success {
        width: 125px;
    }
}