<nav class="navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light title">Rick and Morty API</a>
    <div class="d-flex" role="search" >
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keydown.enter)="search(input)" #input>
      <button class="btn btn-success" type="submit" (click)="search(input)">Search</button>
    </div>
  </div>
</nav>

<app-alert [alertNotFound]="alertNotFound" [alertEmptyField]="alertEmptyField"></app-alert>

<app-character [res]="response"></app-character>

<app-footer></app-footer>