<div *ngIf="!res">
  <div class="card w-50 m-auto my-5 shadow-sm p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <p>The results of your search will appear here.</p>
      <p>Type a character's name in the text area above and press "Search".</p>
    </div>
  </div>
</div>
<div *ngFor="let character of res?.results">
    <div class="card mb-3 m-auto my-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src='{{ character.image }}' class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> {{ character.name }} </h5>
              <p class="card-text"><small class="text-muted"> {{ character.location.name }} </small></p>
            </div>
          </div>
        </div>
      </div>
</div>